@import './variable.css';
@import './base.css';
@import './input.css';

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  width: 100%;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: var(--primary);
  transition: 0.2s ease-in color;
  text-decoration: none;
  padding: 5px;
}

@media (hover: hover) {
  a:hover {
    color: var(--secondary);
  }
}

@media only screen and (min-width: 480px) {
  #app {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
