@import './variable.css';
@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: var(--primary);
  transition: 0.2s ease-in color;
  text-decoration: none;
  padding: 5px;
}

@media (hover: hover) {
  a:hover {
    color: var(--secondary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
